

.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App form {
  padding: 20px;
}

.App form input{
  width: 250px;
  height:20px;
  outline: none;
  border-radius: 10px;
  border: 1px solid #000;
  padding: 10px;
  color: #000;
}

.App button{
  text-align: center;
  width: 250px;
  outline: none;
  border-radius: 10px;
  border: 1px solid #000;
  padding: 10px;
  color: #000;
  transition: all 0.7s;
}

.App button:hover{
  background-color: #333;
  color: #fff
}